<section id="about" class="page-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service-item">
                  <div class="icon">
                      <img src="img/service_icon_01.png" alt="">
                  </div>
                  <h1><b>PURPOSE</b></h1>
                  <div class="line-dec"></div>
                  <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
                  <div class="primary-blue-button">
                      <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service-item">
                  <div class="icon">
                      <img src="img/service_icon_02.png" alt="">
                  </div>
                  <h1><b>MISSION</b></h1>
                  <div class="line-dec"></div>
                  <p><i>Our mission is to provide our customers with the highest quality products with all the guarantees and offering them the best product on the market.</i></p>
                  <div class="primary-blue-button">
                      <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service-item">
                  <div class="icon">
                      <img src="img/service_icon_03.png" alt="">
                  </div>
                  <h1><b>VISION</b></h1>
                  <div class="line-dec"></div>
                  <p><i>be recognized by its customers, for the superior quality of its products.</i></p>
                  <div class="primary-blue-button">
                      <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service-item">
                  <div class="icon">
                      <img src="img/service_icon_04.png" alt="">
                  </div>
                  <h1><b>COMMITMENT</b></h1>
                  <div class="line-dec"></div>
                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent viverra, nunc et mollis fermentum.</p>
                  <div class="primary-blue-button">
                      <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
