<div id="map">
  <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.814188908049!2d-3.527435584292138!3d50.72338627951402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da43d9524c76b%3A0x3253df62f2f0a8dd!2s2%20Barnfield%20Cres%2C%20Exeter%20EX1%201QT%2C%20Reino%20Unido!5e0!3m2!1ses-419!2spe!4v1615171446299!5m2!1ses-419!2spe" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">

                    <p>Copyright &copy; 2021 TAMSA IMPORT

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>2 Barnefield Crescent <br>Exeter</li>
                        <li>Ex1 1QT <br>United Kingdom</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 01392969872</li>
                        <li><em>Email</em>: info@tamsaimport.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">


                </div>
            </div>
        </div>
    </div>
</footer>
