<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-darken-4">

          <!--/.navbar-header-->
          <div id="main-nav" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#" class="scroll-top">Home</a></li>
                  <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                  <li><a href="#" class="scroll-link" data-id="portfolio">Products</a></li>
                  <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                  <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
              </ul>
          </div>
          <!--/.navbar-collapse-->
      </nav>
      <!--/.navbar-->
  </div>
  <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
  <div class="container">
      <div class="text-content">
          <h2><em>TAMSA IMPORT</em></h2>
          <p>Tamsa import is a company that provides the best agricultural products complying with all international requirements</p>
          <div class="primary-white-button">
              <a href="#" class="scroll-link" data-id="about">Let's Start</a>
          </div>
      </div>
  </div>
</div>
