<div class="tabs-content" id="blog">
  <div class="container">
      <div class="row">
          <div class="wrapper">
              <div class="col-md-4">
                  <div class="section-heading">
                      <h4>Avocado Hass</h4>
                      <div class="line-dec"></div>
                      <p>It is the delicious Hass avocado, which travels from the coastal valleys of Peru to European supermarkets. The quality of this superfood lies in the durability of its peel, which facilitates its transport, as well as in its small seed that leaves the diner with a greater quantity of pulp.</p>

                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
